/* Définition des polices personnalisées */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body
{
    margin:0px 0px 0px 0px;
    font-family: "Raleway", "sans-serif" ;
    font-size: 14px;
    font-weight: 500;
}


/* --------------------   ENTETE  -------------------*/

.tête
{
    display: flex;
    flex-direction: row;
    margin-top: 41px;
}

.reservation
{
    display: block;
    width: 95%;
    height: 800px;
    margin-top: 30px;
}

.logo
{
    width: 87px;
    height: 45px;
    margin-top: -18px;
}

.logo , .reservation
{
    margin-left: 50px;
}
.localisation p
{
    font-size: 1.1em;
    margin-top: -16px;
}
nav
{
    margin-left:728px;
}

.nav_for_resp
{
    display: none;
}

nav a:first-child
{
    border-top: 3px  solid #0065FC;
}

nav a
{
    margin-right: 30px;
    text-decoration: none;
    padding: 38px;
    color: black;
}

nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

#inscription
{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}


/* -----------------  fORM RESEARCH  ---------------------*/

.formsearch
{
    display: flex;
}

.formsearch span
{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #f2f2f2;
    width: 50px;
    height: 45px;
    text-align: center;
}

span i
{
    margin-top: 15px;
}

.formsearch input
{
    width: 190px;
    border: 1px solid #f2f2f2;
    font-size: 1em;
    font-weight: 900;

}


.formsearch button
{
    width: 130px;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
    font-size:1.1em;
    font-weight: bolds;
    cursor: pointer;
}

/* ------------------------    LES FILTRES --------------------*/

.filtres
{
    display: flex;
    width: 69%;
    height: 60px;
    margin-top:  30px;
}
.filtres h2
{
    margin: 0 2em 1em 0;
    display: flex;
    align-items: center;
}

.economique , .familial , .romantique , .animaux
{
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    transition-duration: 0.1s;
    font-weight: bold;
    margin-left: 20px;
    transform: scale(1);
	transition: .3s ease-in-out;
}
.economique div , .familial div , .romantique div , .animaux div
{
    background-color: #DEEBFF;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2px;
}

.economique div i , .familial div i , .romantique div i , .animaux div i
{
    cursor: pointer;
    display: inline-block;
    color: blue;
}

.economique span , .familial span , .romantique span , .animaux span
{
    cursor: pointer;
    margin-left: 12px;
    padding-right: 12px;
}
.economique:hover , .familial:hover , .romantique:hover , .animaux:hover
{
    background-color: #DEEBFF;
    transform: scale(0.9);
}

/* -------------------    LES INFORMATIONS DES LOGEMENTS ------------*/
.info_logement
{
    display: flex;
    width: 70%;
    height: 80px;
    margin-top: 30px;
}

.info_logement div
{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #d6d3d3;
    align-items: center;
    justify-content: center;
}

.info_logement i
{
    color: #0065FC;
}

.info_logement p
{
    margin-top: 8px;
    margin-left: 14px;
}

/* ----------------------    HEBERGEMENT ------------------------*/
.sect_hebergement
{
    width: 93%;
    display: flex;
    margin-top: -20px;

}

.hebergement_div
{
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.hebergement
{
    display: flex;
    flex-direction: column;
    height:auto;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -30px;
}
.hebergement h2
{
    margin-left: -374px;
}

.hebergement_1 , .hebergement_2
{
    display: flex;
    flex-direction: row;
    width: 750px;
    height: 220px;
    justify-content: space-between;
    margin-bottom: 39px;
    margin-top: 10px;
    /*border: 1px solid;*/
}

.hebergement_1 article , .hebergement_2 article
{
    width: 220px;
    border:1px solid white;
    height: 200px;
    border-radius: 15px;
    /*margin-left: 0px;
    margin-right: auto;*/
    background-color: white;
    box-shadow: 0 0 16px #0000002e;
}

hebergement_1 article , .hebergement_2 article
{
	transform: scale(1);
	transition: .3s ease-in-out;
}

.hebergement_1 article:hover , .hebergement_2 article:hover
{
	transform: scale(0.9);
}

.hebergement_1 a , .hebergement_2 a
{
    text-decoration: none;
}

.img1_heb1 , .img2_heb1 , .img3_heb1 , .img1_heb2 , .img2_heb2 , .img3_heb2
{
    margin-left: -35px;
    margin-top: -8px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 210px;
    height: 110px;
}

.capt1_heb1 , .capt2_heb1 , .capt3_heb1 , .capt1_heb2 , .capt2_heb2 , .capt3_heb2
{
    margin-top: -13px;
    margin-left: -23px;
    color: black;
}

.p1_heb1 , .p2_heb1 , .p3_heb1 , .p1_heb2 , .p2_heb2 , .p3_heb2
{
    margin-top: -11px;
    margin-left: 15px;
    color: black;
}
.icon1_heb1 , .icon2_heb1 , .icon3_heb1 , .icon1_heb2 , .icon2_heb2 , .icon3_heb2
{
    color: #0065FC;
    margin-left: 18px;
    margin-top: -10px;
}
.icon1_heb1 i:nth-child(5) , .icon3_heb1 i:nth-child(5) , .icon1_heb2 i:nth-child(4) , .icon1_heb2 i:nth-child(5) , .icon2_heb2 i:nth-child(5)
{
    color: #d9d9d9;
}

.more
{
    color: black;
    text-decoration: none;
}

.hebergement_div h4
{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}




































/* -------------------------------    PIED LA PAGE-----------------------------------------------------------------*/
footer
{
    background-color: #f2f2f2;
    margin-top: 67%;
}
.renseignement
{
    display: flex;
}

.renseignement div
{
    margin-left:auto;
    margin-right:230px;
    margin-bottom: 90px;
}

.renseignement ul
{
    list-style-type: none;
}
.renseignement a
{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    flex-direction: column;
    padding-bottom: 10px;

}
.renseignement a:hover
{
    text-decoration: underline;
}
