/* Définition des polices personnalisées */

@font-face
{
    font-family: 'Raleway'; 
    src:  url('static/Raleway-Black.ttf') format('truetype'),
            url('static/Raleway-BlackItalic.ttf') format('truetype'),
            url('static/Raleway-Bold.ttf') format('truetype'),
            url('static/Raleway-ExtraBold.ttf') format('truetype'),
            url('static/Raleway-ExtraBoldItalic.ttf') format('truetype'),
            url('static/Raleway-ExtraLight.ttf') format('truetype'),
            url('static/Raleway-ExtraLightItalic.ttf') format('truetype'),
            url('static/Raleway-Italic.ttf') format('truetype'),
            url('static/Raleway-Light.ttf') format('truetype'),
            url('static/Raleway-LightItalic.ttf') format('truetype'),
            url('static/Raleway-Medium.ttf') format('truetype'),
            url('static/Raleway-MediumItalic.ttf') format('truetype'),
            url('static/Raleway-Regular.ttf') format('truetype'),
            url('static/Raleway-SemiBold.ttf') format('truetype'),
            url('static/Raleway-SemiBoldItalic.ttf') format('truetype'),
            url('static/Raleway-Thin.ttf') format('truetype'),
            url('static/Raleway-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

 

body
{
    margin:0px 0px 0px 0px;
   /* font-family: "Raleway", "sans-serif" ;*/
}

header
{
    display: flex; 
}

.reservation
{
    width: 97%;
    height: 800px;
}

.logo
{
    width: 87px;
    height: 45px;
}

.logo , .reservation    
{
    margin-left:20px;
}
.localisation p
{
    font-size: 1.1em;
    margin-top: -16px;
}
nav
{
    margin-left:780px;
    margin-top: 20px;
}
nav a:first-child 
{
    border-top: 3px  solid #0065FC;
}

nav a
{
    margin-right: 60px;
    text-decoration: none;
    font-size: 1.1em;
    font-family: 'Raleway' Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 18px;
    color: black;
}

nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

#inscription
{
    text-decoration: none;
    font-size: 1.1em;
    margin-top: 20px;
    color: #0065FC;
    font-family: 'Raleway' Arial, Helvetica, sans-serif;
    font-weight:normal ;
    font-style: normal;
    
}

.formsearch
{
    display: flex;
}

.formsearch span
{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #f2f2f2;
    width: 50px;
    height: 45px;
    text-align: center;
}

span i
{
    margin-top: 15px;
}

.formsearch input
{
    width: 190px;
    border: 1px solid #f2f2f2;
    font-size: 1em;
    font-weight: 900;
    
}


.formsearch button
{
    width: 130px;
    background-color: #0065FC;
    color: white;
    font-size: 1em;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
}

.filtres
{
    width: 70%;
    height: 80px;
    margin-top:  30px;
    background-color: #f2f2f2;
    border:1px none;
    box-shadow: 2px 2px 2px 0px  black;
}

.info_logement
{
    width: 70%;
    height: 80px;
    margin-top: 30px;
    background-color: #f2f2f2;
    border:1px none;
    box-shadow: 2px 2px 2px 0px
}

.sect_hebergement
{
    width:auto;
    display: flex;
    margin-top: 40px;
    
}

.hebergement
{
    flex: 1.5;
    height: 120px;
    background-color: #f2f2f2;
    border:1px solid;
    box-shadow: 2px 2px 2px 0px black;
}

aside
{
    flex: 1;
    height: 120px;
    background-color: #f2f2f2;
    border:1px solid;
    margin-left:10px;
    box-shadow: 2px 2px 2px 0px black;
}

.sect_activites
{
    width:auto;
    height: 120px;
    display: flex;
    margin-top: 50px;
    background-color: #f2f2f2;
    border:1px solid;
    box-shadow: 2px 2px 2px 0px black;
}

footer
{
    background-color: #f2f2f2;
}
.renseignement
{
    display: flex;
}

.renseignement div
{
    margin-left:auto;
    margin-right:230px;
    margin-bottom: 90px;
}  

.renseignement ul
{
    list-style-type: none;
}



.renseignement a 
{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    flex-direction: column;

}
.renseignement a:hover
{
    text-decoration: underline;
}

