/* Définition des polices personnalisées */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

body
{
    max-width:1350px;
    margin: auto;
    font-family: "Raleway", "sans-serif" ;
    font-size: 14px;
    font-weight: 500;
}


/* --------------------   ENTETE  -------------------*/
.tête
{
    width: 1250px;
    height: 80px;
    display: flex;
    flex-direction: row;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
}

.reservation
{
    display: flex;
    flex-direction: column;
    width: 1250px;
    height: auto;
    margin-top: -35px;
    margin-left: auto;
    margin-right: auto;
}

.logo
{
    width: 87px;
    height: 45px;
    margin-top: -17px;
}

.localisation p
{
    font-size: 1.1em;
    margin-top: -10px;
    font-family: "Raleway", "sans-serif" ;
    font-weight:400
}
nav
{
    width: 480px;
    margin-left:auto;
    font-family: "Raleway", "sans-serif" ;
    font-weight:500;
}


nav a:first-child
{
    border-top: 3px  solid #0065FC;
}

nav a
{
    margin-right: 20px;
    margin-left: 39px;
    text-decoration: none;
    padding: 38px;
    color: black;
}

nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

#inscription
{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}


/* -----------------  fORM RESEARCH  ---------------------*/

.formsearch
{
    display: flex;
}

.formsearch span
{
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #f2f2f2;
    width: 50px;
    height: 45px;
    text-align: center;
}

span i
{
    margin-top: 15px;
}

.formsearch input
{
    width: 190px;
    border: 1px solid #f2f2f2;
    font-size: 1em;
    font-weight: 900;

}


.formsearch button
{
    width: 130px;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
    font-size:1.1em;
    font-weight: bold;
    cursor: pointer;
}

/* ------------------------    LES FILTRES --------------------*/

.filtres
{
    display: flex;
    width: 69%;
    height: 60px;
    margin-top:  30px;
}
.filtres h2
{
    margin: 0 2em 1em 0;
    display: flex;
    align-items: center;
}

.economique , .familial , .romantique , .animaux
{
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    transition-duration: 0.1s;
    font-weight: bold;
    margin-left: 20px;
    transform: scale(1);
    transition: .3s ease-in-out;
}
.economique div , .familial div , .romantique div , .animaux div
{
    background-color: #DEEBFF;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2px;
}

.economique div i , .familial div i , .romantique div i , .animaux div i
{
    cursor: pointer;
    display: inline-block;
    color: blue;
}

.economique span , .familial span , .romantique span , .animaux span
{
    cursor: pointer;
    margin-left: 12px;
    padding-right: 12px;
}
.economique:hover , .familial:hover , .romantique:hover , .animaux:hover
{
    background-color: #DEEBFF;
    transform: scale(0.9);
}

/* -------------------    LES INFORMATIONS DES LOGEMENTS ------------*/
.info_logement
{
    display: flex;
    width: 70%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info_logement div
{
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #d6d3d3;
    align-items: center;
    justify-content: center;
}

.info_logement i
{
    color: #0065FC;
}

.info_logement p
{
    margin-top: 8px;
    margin-left: 14px;
    font-family: "Raleway", "sans-serif" ;
    font-weight: 400;
}

/* ----------------------    HEBERGEMENT ------------------------*/
.sect_hebergement
{
    width: auto;
    height: auto;
    display: flex;
    margin-top: -20px;

}

.hebergement_div
{
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.hebergement
{
    display: flex;
    flex-direction: column;
    height:auto;
    justify-content: space-around;
    align-items: center;
    margin-bottom: -30px;
}
.hebergement_div h2
{
    margin-left: 30px;
}

.hebergement_1 , .hebergement_2
{
    display: flex;
    flex-direction: row;
    width: 750px;
    height: 220px;
    justify-content: space-between;
    margin-bottom: 39px;
    margin-top: 10px;
}

.hebergement_1 article , .hebergement_2 article
{
    width: 220px;
    border:1px solid white;
    height: 200px;
    border-radius: 15px;
    background-color: whitesmoke;
    box-shadow: 0 0 16px #0000002e;
}

.hebergement_1 article , .hebergement_2 article
{
    transform: scale(1);
    transition: .3s ease-in-out;
}

.hebergement_1 article:hover , .hebergement_2 article:hover
{
    transform: scale(0.9);
}

.hebergement_1 a , .hebergement_2 a
{
    text-decoration: none;
}

.img1_heb1 , .img2_heb1 , .img3_heb1 , .img1_heb2 , .img2_heb2 , .img3_heb2
{
    margin-left: -35px;
    margin-top: -8px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 210px;
    height: 110px;
    object-fit: cover;
}

.capt1_heb1 , .capt2_heb1 , .capt3_heb1 , .capt1_heb2 , .capt2_heb2 , .capt3_heb2
{
    margin-top: -13px;
    margin-left: -23px;
    color: black;
}

.p1_heb1 , .p2_heb1 , .p3_heb1 , .p1_heb2 , .p2_heb2 , .p3_heb2
{
    margin-top: -11px;
    margin-left: 15px;
    color: black;
}
.icon1_heb1 , .icon2_heb1 , .icon3_heb1 , .icon1_heb2 , .icon2_heb2 , .icon3_heb2
{
    color: #0065FC;
    margin-left: 18px;
    margin-top: -10px;
}
.icon1_heb1 i:nth-child(5) , .icon3_heb1 i:nth-child(5) , .icon1_heb2 i:nth-child(4) , .icon1_heb2 i:nth-child(5) , .icon2_heb2 i:nth-child(5)
{
    color: #d9d9d9;
}

.more
{
    color: black;
    text-decoration: none;
}

.hebergement_div h4
{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
}


/* ---------------POPULAIRE -----------*/

.populaire
{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #f2f2f2;
    margin-left:20px;
    border-radius: 10px;
}

.title_populaire
{
    display: flex;
    flex-direction: row;
    width: auto;
}
.populaire h2
{
    margin-left: 20px;
}
#chart-line
{
   margin-top: 24px;
    margin-left: 139px;
}

.art1_pop , .art2_pop , .art3_pop
{
    display: flex;
    width: 335px;
    height: 128px;
    box-shadow: 0 0 16px #0000002e;
    margin: auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: white;
    transform: scale(1);
    transition: .3s ease-in-out;
}
.art1_pop:hover , .art2_pop:hover , .art3_pop:hover
{
    transform: scale(0.9);
}
.a_art1_pop , .a_art2_pop , .a_art3_pop
{
    display: flex;
    flex-direction: row;
    width: 325px;
    height: 118px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.a_art1_pop div:first-child img , .a_art2_pop div:first-child img , .a_art3_pop div:first-child img
{
    width: 110px;
    height: 118px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}
.a_art1_pop div:last-child , .a_art2_pop div:last-child , .a_art3_pop div:last-child
{
    flex:1;
}
.a_art1_pop p , .a_art2_pop p , .a_art3_pop p
{
    margin-top:-15px;
    margin-left: 11px;
}
.a_art1_pop h3 , .a_art2_pop h3 , .a_art3_pop h3
{
    margin-top:9px;
    margin-left: 11px;
}


.a_art1_pop div:last-child div , .a_art2_pop div:last-child div , .a_art3_pop div:last-child div
{
    display: flex;
    flex-direction: row;
}


.a_art1_pop div:last-child i , .a_art3_pop div:last-child i
{
    color: #0065FC;
    margin-top: 30px;
    margin-left: 3px;
}
.a_art2_pop div:last-child i
{
    color: #0065FC;
    margin-top: 13px;
    margin-left: 3px;
}

/* -----------------ACTIVITIES-------------------------*/

.sect_activites
{
    width:auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.sect_activites h2
{
    margin-top: 12px;
}

.div_activites
{
    width:auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.div_activites_resp
{
    display: none;
}

.activity_1 , .activity_3
{
    width: 295px;
    height:540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    margin-top: 0px;
    transform: scale(1);
    transition: .3s ease-in-out;
    box-shadow: 0 0 16px #0000002e;
}

.img1_act1
{
    width: 295px;
    height:490px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.activity_2 , .activity_4
{
    width: 295px;
    height:540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    margin-top: 0px;
    transform: scale(1);
    transition: .3s ease-in-out;
}
.activity_1 h3, .activity_2 h3, .activity_3 h3, .activity_4 h3
{
    margin-left: 25px;
    margin-top:10px;
}

.activity_2 a:first-child
{
    width: 295px;
    height: 280px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    transform: scale(1);
    transition: .3s ease-in-out;
    box-shadow: 0 0 16px #0000002e;
}

.activity_2 a:last-child
{
    width: 295px;
    height: 230px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    transform: scale(1);
    transition: .3s ease-in-out;
    box-shadow: 0 0 16px #0000002e;
}

.img1_act2
{
    width: 295px;
    height:229px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.img1_act21
{
    width: 295px;
    height:181px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.img1_act3
{
    width: 295px;
    height:490px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.activity_4 a:first-child
{
    width: 295px;
    height: 230px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    transform: scale(1);
    transition: .3s ease-in-out;
    box-shadow: 0 0 16px #0000002e;
}

.activity_4 a:last-child
{
    width: 295px;
    height: 280px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    transform: scale(1);
    transition: .3s ease-in-out;
    box-shadow: 0 0 16px #0000002e;
}

.img1_act4
{
    width: 295px;
    height:181px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.img1_act41
{
    width: 295px;
    height:229px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.activity_1:hover , .activity_3:hover
{
    transform: scale(0.9);
}

.activity_2 a:first-child:hover , .activity_2 a:last-child:hover , .activity_4 a:first-child:hover , .activity_4 a:last-child:hover
{
    transform: scale(0.9);
}


/* -------------------------------    PIED LA PAGE-----------------------------------------------------------------*/
footer
{
    width: auto;
    background-color: #f2f2f2;
    margin-top: 7%;
}
.renseignement
{
    display: flex;
}

.renseignement div
{
    margin-left:45px;
    margin-right:170px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.renseignement ul
{
    list-style-type: none;
}
.renseignement a
{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    flex-direction: column;
    padding-bottom: 10px;
    font-family: "Raleway", 'sans-serif';
    font-weight: 400;
}
.renseignement a:hover
{
    text-decoration: underline;
}
