/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    width: 98%;
    height: 900px;
    border: 1px solid;
}

header
{
    display: flex;
}

img
{
    width: 87px;
    height: 45px;
    margin-left:20px;
}

nav
{
    margin-left:830px;
    margin-top: 20px;
}

nav a
{
    margin-right: 60px;
    text-decoration: none;
    font-size: 1.1em;
    font-family: "Raleway", "Sans serif" ;
    color: black;
}

#inscription
{
    text-decoration: none;
    font-size: 1.1em;
    margin-top: 20px;
    
}