/**** -------------------- RESPONSIVE DESIGN -----------------*/

@media  screen and (min-width: 1025px) and (max-width: 1281px)
{

    /* -----------------   ENTETE -----------------------------------*/

    body
    {
        width: 100%;
        height: auto;
    }
    .tête
    {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 39px;
        margin-right: auto;
        margin-left: auto;
    }

    .reservation
    {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1%;
    }

    .logo
    {
        width: 87px;
        height: 45px;
        margin-top: -18px;
    }

    nav
    {
        margin-left:auto;
    }

    nav a:first-child
    {
        border-top: 3px  solid #0065FC;
    }

    nav a
    {
        margin-right: 30px;
        text-decoration: none;
        padding: 43px;
        color: black;
    }

    nav a:hover
    {
        color: #0065FC;
        border-top: 3px solid #0065FC;
    }

    .filtres
    {
        width: auto;
    }

    /* ------------------------------   HEBERGEMENT    -------------------------------*/
    .sect_hebergement
    {
        display: flex;
        width: auto;
        height: auto;
        flex-direction: column;
    }

    .hebergement_div
    {
        flex: auto;
        width: auto;
        height: auto;
        margin-top: 12px;
        margin-bottom: 12px;
    }


    .populaire
    {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: auto;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .art1_pop , .art2_pop , .art3_pop
    {
        display: flex;
        width: auto;
        height: auto;
        margin-bottom: 12px;
        margin-top: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
    }

    .a_art1_pop , .a_art2_pop , .a_art3_pop
    {
        display: flex;
        flex-direction: row;
        width: 564px;
        height: 118px;
        border-radius: 15px;
        text-decoration: none;
        color: black;
    }

    .a_art1_pop div:first-child img , .a_art2_pop div:first-child img , .a_art3_pop div:first-child img
    {
        flex: 1;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    .a_art1_pop div:last-child , .a_art2_pop div:last-child , .a_art3_pop div:last-child
    {
        flex:2;
    }

    #chart-line
    {
        position: absolute;
        margin-left: 68%;
    }

    /* -----------------ACTIVITIES-------------------------*/

    .sect_activites
    {
        width:auto;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .sect_activites h2
    {
        margin-top: 12px;
    }

    .div_activites
    {
        width:auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 30px;
    }


    .activity_1 , .activity_3
    {
        width: 23%;
        height:540px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        background-color: transparent;
        color: black;
        text-decoration: none;
        margin-top: 0px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
    }

    .img1_act1
    {
        width: 100%;
        height:490px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .activity_2 , .activity_4
    {
        width: 23%;
        height:540px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        background-color: transparent;
        color: black;
        text-decoration: none;
        margin-top: 0px;
        transform: scale(1);
        transition: .3s ease-in-out;
    }
    .activity_1 h3, .activity_2 h3, .activity_3 h3, .activity_4 h3
    {
        margin-left: 25px;
        margin-top:10px;
    }

    .activity_2 a:first-child
    {
        width: auto;
        height: 280px;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
    }

    .activity_2 a:last-child
    {
        width: auto;
        height: 230px;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
    }

    .img1_act2
    {
        width: 100%;
        height:229px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .img1_act21
    {
        width: 100%;
        height:181px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .img1_act3
    {
        width: 100%;
        height:490px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .activity_4 a:first-child
    {
        width: auto;
        height: 230px;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
    }

    .activity_4 a:last-child
    {
        width: auto;
        height: 280px;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
    }

    .img1_act4
    {
        width: 100%;
        height:181px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .img1_act41
    {
        width: 100%;
        height:229px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .activity_1:hover , .activity_3:hover
    {
        transform: scale(0.9);
    }

    .activity_2 a:first-child:hover , .activity_2 a:last-child:hover , .activity_4 a:first-child:hover , .activity_4 a:last-child:hover
    {
        transform: scale(0.9);
    }



    /** -------------------------------------------   PIED DE LA PAGE -------------------------------------*/
    footer
    {
        width: auto;
        background-color: #f2f2f2;
        margin-top: 7%;
    }
    .renseignement
    {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .renseignement div
    {
        margin-left: 2.1%;
        margin-right:auto;
        margin-bottom: 5%;
    }

    .renseignement ul
    {
        list-style-type: none;
    }
    .renseignement a
    {
        display: flex;
        text-decoration: none;
        color: black;
        font-size: 1.1em;
        flex-direction: column;
        padding-bottom: 10px;

    }
    .renseignement a:hover
    {
        text-decoration: underline;
    }

}

@media  screen and (min-width: 768px) and (max-width: 1024px)
{

    /************************-------------------- ENTETE ---------------------------------------*/
    body
    {
        width: 100%;
        height: auto;
    }
    .tête
    {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 39px;
        margin-right: auto;
        margin-left: auto;
    }

    .reservation
    {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1%;
    }

    .logo
    {
        width: 87px;
        height: 45px;
        margin-top: -18px;
    }

    nav
    {
        margin-left:auto;
    }

    nav a:first-child
    {
        border-top: 3px  solid #0065FC;
    }

    nav a
    {
        margin-right: 30px;
        text-decoration: none;
        padding: 43px;
        color: black;
    }

    nav a:hover
    {
        color: #0065FC;
        border-top: 3px solid #0065FC;
    }


    /**** ------------------------- FILTRES -------------------------------*/

    .filtres
    {
        display: flex;
        flex-direction: column;
        margin-top:  30px;
        width: 280px;
        height: auto;
        justify-content: center;
    }
    /*** --------------- info logement --------------------------------*/
    .info_logement
    {
        display: flex;
        width: 90%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 4%;
        margin-left: 4%;
    }
    /*----------------------------------    HEBERGEMENT ---------------------------------------------------------*/
    .sect_hebergement
    {
        display: flex;
        width: auto;
        height: auto;
        flex-direction: column-reverse;
        align-content: center;
        justify-content: center;

    }


    .hebergement_div
    {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        width: auto;
        height: auto;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .hebergement
    {
        display: flex;
        flex-direction: row;
        align-content: center;
        width: 96%;
        height: auto;
        margin-top: 12px;
        margin-bottom: 12px;
        justify-content: space-around;
    }

    .hebergement_div h2
    {
        margin-left: 5%;
    }

    .hebergement_1 , .hebergement_2
    {
        display: flex;
        flex-direction: column;
        width: 93%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        margin-left: 3%;
        margin-right: auto;
    }

    .hebergement_1 article, .hebergement_2 article {
        width: 60%;
        border: 1px solid transparent;
        height: auto;
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        margin-right: 0px;
        background-color: white;
        box-shadow: 0 0 16px #0000002e;
    }


    .hebergement_1 a , .hebergement_2 a
    {
        width: 98%;
    }

    .hebergement_1 figure , .hebergement_2 figure
    {
        width:97%;
    }

    .img1_heb1
    {
        width: 100%;
    }
    .img2_heb1
    {
        width: 100%;
    }
    .img3_heb1
    {
        width: 100%;
    }

    .img1_heb2
    {
        width: 100%;
    }

    .img2_heb2
    {
        width: 100%;
    }

    .img3_heb2
    {
        width: 100%;
    }

    .populaire
    {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: auto;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0;
        margin-right: 0;
    }

    #chart-line
    {
        position: absolute;
        margin-left: 86%;
    }

    .art1_pop , .art2_pop , .art3_pop
    {
        display: flex;
        width: 85%;
        height: auto;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: auto;
        margin-right: auto;
    }


    .art1_pop:hover , .art2_pop:hover , .art3_pop:hover
    {
        transform: scale(0.9);
    }
    .a_art1_pop , .a_art2_pop , .a_art3_pop
    {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        border-radius: 15px;
        text-decoration: none;
        color: black;
    }

    .a_art1_pop div:first-child img , .a_art2_pop div:first-child img , .a_art3_pop div:first-child img
    {
        width: 170px;
        height: 118px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    .a_art1_pop div:last-child , .a_art2_pop div:last-child , .a_art3_pop div:last-child
    {
        flex:1;
    }
    .a_art1_pop p , .a_art2_pop p , .a_art3_pop p
    {
        margin-top:-15px;
        margin-left: 11px;
    }
    .a_art1_pop h3 , .a_art2_pop h3 , .a_art3_pop h3
    {
        margin-top:9px;
        margin-left: 11px;
    }


    .a_art1_pop div:last-child div , .a_art2_pop div:last-child div , .a_art3_pop div:last-child div
    {
        display: flex;
        flex-direction: row;
    }


    .a_art1_pop div:last-child i , .a_art3_pop div:last-child i
    {
        color: #0065FC;
        margin-top: 30px;
        margin-left: 3px;
    }
    .a_art2_pop div:last-child i
    {
        color: #0065FC;
        margin-top: 13px;
        margin-left: 3px;
    }

    /* -----------------ACTIVITIES-------------------------*/

    .sect_activites
    {
        width:auto;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: -50%;
    }

    .sect_activites h2
    {
        margin-top: 12px;
    }

    .div_activites
    {
        width:auto;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    .activity_1 , .activity_3
    {
        width: auto;
        height:350px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: transparent;
        color: black;
        text-decoration: none;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
    }

    .activity_3
    {
        margin-top: -210px;
    }

    .img1_act1
    {
        width: 100%;
        height:300px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .activity_2 , .activity_4
    {
        width: auto;
        height:540px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 10px;
        background-color: transparent;
        color: black;
        text-decoration: none;
        transform: scale(1);
        transition: .3s ease-in-out;
        margin-top: 5%;
    }
    .activity_1 h3, .activity_2 h3, .activity_3 h3, .activity_4 h3
    {
        margin-left: 25px;
        margin-top:10px;
    }

    .activity_2 a:first-child
    {
        width: 47%;
        height: 52%;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
    }

    .activity_2 a:last-child
    {
        width: 47%;
        height:52%;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
    }

    .img1_act2
    {
        width: 100%;
        height:231px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .img1_act21
    {
        width: 100%;
        height:231px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .img1_act3
    {
        width: 100%;
        height:300px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .activity_4 a:first-child
    {
        width: 47%;
        height: 52%;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
    }

    .activity_4 a:last-child
    {
        width: 47%;
        height: 52%;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
    }

    .img1_act4
    {
        width: 100%;
        height:231px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .img1_act41
    {
        width: 100%;
        height:231px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .activity_1:hover , .activity_3:hover
    {
        transform: scale(0.9);
    }

    .activity_2 a:first-child:hover , .activity_2 a:last-child:hover , .activity_4 a:first-child:hover , .activity_4 a:last-child:hover
    {
        transform: scale(0.9);
    }

    /******** -----------------------------------------   PIED DE LA PAGE ---------------------------------------------*/


    footer
    {
        width: auto;
        background-color: #f2f2f2;
        margin-top: 31%;
    }
    .renseignement
    {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .renseignement div
    {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-left: 2%;
        margin-right:5%;
        margin-bottom: 3%;
    }


    .renseignement a
    {
        display: flex;
        text-decoration: none;
        color: black;
        font-size: 1.1em;
        flex-direction: column;
        padding-bottom: 10px;

    }
    .renseignement a:hover
    {
        text-decoration: underline;
    }

}

@media screen and (min-width: 481px) and (max-width: 767px)
{

    /* -------------------- ENTETE ---------------------------------------*/
    body
    {
        width: 100%;
        height: auto;

    }
    .tête
    {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 39px;
        margin-right: auto;
        margin-left: auto;
    }

    .reservation
    {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 30%;
        margin-right: auto;
        margin-left: auto;
    }

    .logo
    {
        width: 87px;
        height: 45px;
        margin-top: -18px;
    }


    .localisation
    {
        width:auto;
    }

    nav
    {
        width: 90%;
        display: flex;
        flex-direction: row;
        position: absolute;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    nav a:first-child
    {
        border-top: none;
        border-bottom: 3px  solid #0065FC;
    }
    nav a:hover
    {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    nav a
    {
        text-decoration: none;
        padding: 38px;
        color: black;
        margin-right: auto;
        margin-left: auto;
    }

    /*------------------------------ FORMULAIRES ---------------------------*/

    .formsearch
    {
        display: flex;
        flex-direction: row;
        width: 100%;
    }


    /**** ------------------------- FILTRES -------------------------------*/
    .filtres
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top:  30px;
        width: auto;
        height: auto;
    }
    .familial , .economique
    {
        position: absolute;
        margin-top: 8%;
        margin-bottom: 40%;
    }

    .romantique
    {
        width: 60%;
        margin-top: 15%;
    }

    .familial
    {
        margin-left: 40%;
    }
    .animaux
    {
        width: 70%;
    }


    /*** --------------- info logement --------------------------------*/
    .info_logement
    {
        display: flex;
        width: auto;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /*----------------------------------    HEBERGEMENT ---------------------------------------------------------*/
    .sect_hebergement
    {
        display: flex;
        width: auto;
        height: auto;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-content: center;
    }


    .hebergement_div
    {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        width: auto;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 1%;
        margin-right: 1%;
        background-color: transparent;
    }


    .hebergement_div h2
    {
        margin-left: 10%;
    }

    .hebergement_div h4
    {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .hebergement_1 , .hebergement_2
    {
        display: flex;
        flex-direction: column;
        width: 87%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;

    }

    .hebergement_1 article, .hebergement_2 article
    {

        display: flex;
        width: 99%;
        border: 1px solid transparent;
        height: 20%;
        border-radius: 15px;
        margin-top: 6%;
        margin-bottom: 6%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        box-shadow: 0 0 16px #0000002e;
    }

    .hebergement_1 a , .hebergement_2 a
    {
        width: 98%;
    }

    .hebergement_1 figure , .hebergement_2 figure
    {
        width:97%;
    }

    .img1_heb1
    {
        width: 102%;
    }
    .img2_heb1
    {
        width: 102%;
    }
    .img3_heb1
    {
        width: 102%;
    }

    .img1_heb2
    {
        width: 102%;
    }

    .img2_heb2
    {
        width: 102%;
    }

    .img3_heb2
    {
        width: 102%;
    }

    .icon1_heb1 , .icon2_heb1 , .icon3_heb1 , .icon1_heb2 , .icon2_heb2 , .icon3_heb2
    {
       margin-bottom: 5%;
    }

    /*--------------------------------------     POPULAIRE -------------------------------*/

    .populaire
    {
        display: flex;
        flex-direction:column;
        align-content: space-between;
        justify-content: center;
        width: auto;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 1%;
        margin-right: 1%;
    }

    #chart-line
    {
        position: absolute;
        margin-left: 71%;
    }


    .art1_pop , .art2_pop , .art3_pop
    {
        display: flex;
        width: auto;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }

    .a_art1_pop div:last-child
    {
        flex:1;
        margin-left: -6%;
    }
    .a_art2_pop div:last-child
    {
        flex:1;
        margin-left: -2%;
    }

    .a_art3_pop div:last-child
    {
        flex:1;
        margin-top: -10%;
        margin-left: 13%;
    }


    .a_art1_pop div:last-child i
    {
        color: #0065FC;
        margin-top: 3%;
        margin-left: 1%;
    }


    .a_art2_pop div:last-child i
    {
        color: #0065FC;
        margin-top: 3%;
        margin-left: 1%;
    }
    .a_art3_pop div:last-child i
    {
        color: #0065FC;
        margin-top: 15%;
        margin-left: 1%;
    }

    .a_art1_pop div:first-child img
    {
        width:75%;
        height: 118px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
    }

    .a_art2_pop div:first-child img
    {
        width:85%;
        height: 118px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
    }


    .a_art3_pop div:first-child img
    {
        width:170%;
        height: 118px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        object-fit: cover;
    }

    .a_art1_pop p
    {
        margin-left:-4%;
    }

    .a_art2_pop p
    {
        margin-left:-2%;
    }

    .a_art3_pop p
    {
        margin-left: 14%;
    }

    .a_art1_pop h3
    {
        margin-left: -4%;
    }
    .a_art2_pop h3
    {
        margin-left: -2%;
    }

    .a_art3_pop h3
    {
        margin-top: 19%;
        margin-left: 14%;
    }

        /* -----------------ACTIVITIES-------------------------*/

    .sect_activites
    {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 15%;

    }

    .sect_activites h2
    {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }



    .div_activites
    {
        display: flex;
        width: auto;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;


    }

    .activity_1 , .activity_3
    {
        display: flex;
        width: 96%;
        height: 200px;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        box-shadow: 0 0 16px #0000002e;
        transform: scale(1);
        transition: .3s ease-in-out;

    }

    .activity_1:hover , .activity_3:hover
    {
        transform: scale(0.9);
    }


    .activity_1 .img1_act1 , .activity_3 .img1_act3
    {
        width: 100%;
        height:150px;
        border-radius: 10px;
    }

    .activity_1 h3,  .activity_3 h3
    {
        margin-left: 25px;
        margin-top:10px;
    }

    .activity_2 , .activity_4
    {
        width: 96%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        background-color: transparent;
        color: black;
        text-decoration: none;
        margin-top: 5%;
        margin-bottom: 5%;
        transform: scale(1);
        transition: .3s ease-in-out;
        margin-left: auto;
        margin-right: auto;
    }

    .activity_2 a:first-child
    {
        width: auto;
        height: 200px;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
        margin-bottom: 5%;
    }

    .activity_2 a:last-child
    {
        width: auto;
        height: 200px;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
        margin-top: 5%;
    }

    .img1_act2
    {
        width: 100%;
        height:150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .img1_act21
    {
        width: 100%;
        height:150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .activity_4 a:first-child
    {
        width: auto;
        height: 200px;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
        margin-bottom: 5%;
    }

    .activity_4 a:last-child
    {
        width: auto;
        height: 200px;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
        margin-top: 5%;
    }

    .img1_act4
    {
        width: 100%;
        height:150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .img1_act41
    {
        width: 100%;
        height:150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .activity_2 a:first-child:hover , .activity_2 a:last-child:hover , .activity_4 a:first-child:hover , .activity_4 a:last-child:hover
    {
        transform: scale(0.9);
    }


    /******** -----------------------------------------   PIED DE LA PAGE ---------------------------------------------*/


    footer
    {
        width: auto;
        background-color: #f2f2f2;
        margin-top: 7%;
    }
    .renseignement
    {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .renseignement div
    {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        margin-bottom: auto;
        margin-left: 8%;
        justify-content: flex-start;
    }


    .renseignement a
    {
        display: flex;
        text-decoration: none;
        color: black;
        font-size: 1.1em;
        flex-direction: column;
        padding-bottom: 10px;

    }
    .renseignement a:hover
    {
        text-decoration: underline;
    }

}

@media  screen and (min-width: 320px) and (max-width: 480px)
{
    /* -------------------- ENTETE ---------------------------------------*/
    body
    {
        width: 100%;
        height: auto;

    }
    .tête
    {
        width: 87%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 39px;
        margin-right:auto;
        margin-left: auto;
        order: 0;
    }

    .reservation
    {
        width: 87%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 30%;
        margin-right: auto;
        margin-left: auto;
    }

    .logo
    {
        width: 87px;
        height: 45px;
        margin-top: -18px;
    }


    .localisation
    {
        width:auto;
    }

    nav
    {
        width: 87%;
        display: flex;
        flex-direction: row;
        position: absolute;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        order: 1;
    }

    nav a:first-child
    {
        border-top: none;
        border-bottom: 3px  solid #0065FC;
    }
    nav a:hover
    {
        color: #0065FC;
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    nav a
    {
        text-decoration: none;
        padding: 38px;
        color: black;
        margin-right: auto;
        margin-left: auto;
    }


    /*------------------------------ FORMULAIRES ---------------------------*/

    .formsearch
    {
        display: flex;
        flex-direction: row;
        width: 95%;
    }

    .formsearch button
    {
        width: 20%;
    }

    .formsearch span 
    {
        width: 30%;
    }
    .formsearch button i 
    {
        display: inline;
    }

    .formsearch button span
    {
        display: none;
    }


    /**** ------------------------- FILTRES -------------------------------*/
    .filtres
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top:  30px;
        width: auto;
        height: auto;
    }
    .familial , .economique
    {
        position: absolute;
        margin-top: 15%;
        margin-bottom: 40%;
        margin-left: 0;
    }

    .romantique
    {
        width: 60%;
        margin-top: 20%;
        margin-left: 0;
    }

    .familial
    {
        margin-left: 48.6%;
    }
    .animaux
    {
        width: 69%;
        margin-left:0;
    }

    /*** --------------- info logement --------------------------------*/
    .info_logement
    {
        display: flex;
        width: auto;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .info_logement div
    {
        width: 12.3%;
    }
    /*----------------------------------    HEBERGEMENT ---------------------------------------------------------*/
    .sect_hebergement
    {
        display: flex;
        width: auto;
        height: auto;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-content: center;
    }


    .hebergement_div
    {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        width: auto;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 1%;
        margin-right: 1%;
        background-color: transparent;
    }


    .hebergement_div h2
    {
        margin-left: 5%;
    }

    .hebergement_div h4
    {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .hebergement_1 , .hebergement_2
    {
        display: flex;
        flex-direction: column;
        width: 91%;
        height: auto;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;

    }

    .hebergement_1 article, .hebergement_2 article
    {

        display: flex;
        width: 99%;
        border: 1px solid transparent;
        height: 20%;
        border-radius: 15px;
        margin-top: 6%;
        margin-bottom: 6%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        box-shadow: 0 0 16px #0000002e;
    }

    .hebergement_1 a , .hebergement_2 a
    {
        width: 98%;
    }

    .hebergement_1 figure , .hebergement_2 figure
    {
        width:97%;
    }

    .img1_heb1
    {
       width: 102%;
    }
    .img2_heb1
    {
        width: 102%;
    }
    .img3_heb1
    {
        width: 102%;
    }

    .img1_heb2
    {
        width: 102%;
    }

    .img2_heb2
    {
        width: 102%;
    }

    .img3_heb2
    {
        width: 102%;
    }

    .icon1_heb1 , .icon2_heb1 , .icon3_heb1 , .icon1_heb2 , .icon2_heb2 , .icon3_heb2
    {
       margin-bottom: 5%;
    }

    /*--------------------------------------     POPULAIRE -------------------------------*/

    .populaire
    {
        display: flex;
        flex-direction:column;
        align-content: space-between;
        justify-content: center;
        width: auto;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 1%;
        margin-right: 1%;
    }

    #chart-line
    {
        position: absolute;
        margin-left: 77%;
    }

    .art1_pop , .art2_pop , .art3_pop
    {
        display: flex;
        width: 91%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: auto;
        margin-right: auto;
    }

    .a_art1_pop , .a_art2_pop , .a_art3_pop
    {
        display: flex;
        flex-direction: row;
        width: 100%;
    }


    .a_art1_pop div:last-child i , .a_art3_pop div:last-child i
    {
        color: #0065FC;
        margin-top: 3%;
        margin-left: 3%;
    }
    .a_art2_pop div:last-child i
    {
        color: #0065FC;
        margin-top: 1%;
        margin-left: 1%;
    }


    /* -----------------ACTIVITIES-------------------------*/

    .sect_activites
    {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        margin-bottom: 25%;

    }

    .sect_activites h2
    {
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }



    .div_activites
    {
        display: flex;
        width: auto;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;


    }

    .activity_1 , .activity_3
    {
        display: flex;
        width: 98%;
        height: 200px;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        box-shadow: 0 0 16px #0000002e;
        transform: scale(1);
        transition: .3s ease-in-out;

    }

    .activity_1:hover , .activity_3:hover
    {
        transform: scale(0.9);
    }


    .activity_1 .img1_act1 , .activity_3 .img1_act3
    {
        width: 100%;
        height:150px;
        border-radius: 10px;
    }

    .activity_1 h3,  .activity_3 h3
    {
        margin-left: 25px;
        margin-top:10px;
    }

    .activity_2 , .activity_4
    {
        width: 98%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        background-color: transparent;
        color: black;
        text-decoration: none;
        margin-top: 5%;
        margin-bottom: 5%;
        transform: scale(1);
        transition: .3s ease-in-out;
        margin-left: auto;
        margin-right: auto;
    }

    .activity_2 a:first-child
    {
        width: auto;
        height: 200px;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
        margin-bottom: 5%;
    }

    .activity_2 a:last-child
    {
        width: auto;
        height: 200px;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
        margin-top: 5%;
    }

    .img1_act2
    {
        width: 100%;
        height:150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .img1_act21
    {
        width: 100%;
        height:150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .activity_4 a:first-child
    {
        width: auto;
        height: 200px;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
        margin-bottom: 5%;
    }

    .activity_4 a:last-child
    {
        width: auto;
        height: 200px;
        color: black;
        text-decoration: none;
        border-radius: 10px;
        transform: scale(1);
        transition: .3s ease-in-out;
        box-shadow: 0 0 16px #0000002e;
        margin-top: 5%;
    }

    .img1_act4
    {
        width: 100%;
        height:150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .img1_act41
    {
        width: 100%;
        height:150px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
    }

    .activity_2 a:first-child:hover , .activity_2 a:last-child:hover , .activity_4 a:first-child:hover , .activity_4 a:last-child:hover
    {
        transform: scale(0.9);
    }



    /******** -----------------------------------------   PIED DE LA PAGE ---------------------------------------------*/


    footer
    {
        width: auto;
        background-color: #f2f2f2;
        margin-top: 17%;
    }
    .renseignement
    {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .renseignement div
    {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: auto;
        margin-bottom: auto;
        margin-left: 12%;
        justify-content: flex-start;
    }


    .renseignement a
    {
        display: flex;
        text-decoration: none;
        color: black;
        font-size: 1.1em;
        flex-direction: column;
        padding-bottom: 10px;

    }
    .renseignement a:hover
    {
        text-decoration: underline;
    }

}

